body{
    background: lightcyan;
    display: flex;
    justify-content: center;
    
}

.calculator {
    position: absolute;
    border: 2px solid grey;
    height: 70vh;
    width: 350px;
    border-radius: 20px;
    background: #3a4452;
}

.output {
    margin: 15px auto;
    height: 15vh;
    width: 275px ;
    border-radius: 20px;
    font-size: 2.5REM;
    display: flex;
    color: #fff;
    justify-content: end;
    align-items: end;
}

.input {
    position: absolute;
    left: 40px;
    margin: 10px auto ;
    height: 45vh;
    width: 22vw;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

a{
    text-decoration: none;
}

.button {
    width: 55px;
    height: 60px;
    border-radius: 8px;
    font-size: 1.5REM;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(255,255,255,0.2);
}

.operator{
    color: rgb(13, 233, 196);
}

#result {
    width: 120px;
    grid-column: 3/5;
}

@media (max-height: 650px) {
    .output{
        height: 70px;
    }
    .button{
        height: 40px;
    }
}